@font-face {
  font-family: Cinzel-Medium;
  src: url(./../fonts/Cinzel/Cinzel-Medium.woff2);
  src: url(./../fonts/Cinzel/Cinzel-Medium.ttf);
}
@font-face {
  font-family: Cinzel-Bold;
  src: url(./../fonts/Cinzel/Cinzel-Bold.woff2);
  src: url(./../fonts/Cinzel/Cinzel-Bold.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Cinzel-Medium;
  font-size: 16px;
  line-height: 16px;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

a {
  text-decoration: none;
  color: #222;
}

ul li {
  list-style: none;
}

input, textarea, button {
  outline: none;
  background: none;
  border: none;
  display: block;
}

img {
  width: auto;
  height: 100%;
}

.app {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.logo {
  height: 100%;
  display: flex;
  align-items: center;
}
.logo img {
  height: 70%;
}
.logo-text {
  display: flex;
  flex-direction: column;
  font-family: Cinzel-Bold;
  font-size: 16px;
  line-height: 18px;
}
.logo-text span {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
}
.logo-text span:nth-child(1) {
  color: #FF0000;
}

.header {
  height: 80px;
  padding: 0 25px;
  display: flex;
  z-index: 1;
}
.header .nav {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  font-size: 16px;
}
.header .nav-item {
  display: flex;
  align-items: center;
  padding: 0 10px;
}
.header .nav-item .active {
  color: #FFA500;
  text-shadow: 1px 1px 4px rgba(255, 165, 0, 0.25);
}
.header .nav-item a {
  transition: 0.5s;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
}
.header .nav-item a:hover {
  font-size: 18px;
  color: #FFA500;
  text-shadow: 1px 1px 4px rgba(255, 165, 0, 0.25);
}
.header .auth {
  height: 100%;
  display: flex;
}
.header .auth-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
}
.header .auth-item a {
  transition: 0.5s;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
}
.header .auth-item a:hover {
  font-size: 18px;
  color: #FFA500;
  text-shadow: 1px 1px 4px rgba(255, 165, 0, 0.25);
}

.main {
  height: calc(100vh - 160px);
  position: relative;
}
.main .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -65%);
  max-width: 700px;
  z-index: 1;
}
.main .content-header {
  text-align: center;
  height: 200px;
}
.main .content-body {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
  padding: 20px;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
}
.main .content-footer {
  width: 100%;
  height: auto;
}
.main .content-footer .form {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.main .content-footer .form .input {
  height: 54px;
  max-width: 450px;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
}
.main .content-footer .form .input i {
  position: absolute;
  left: 15px;
  font-size: 18px;
  color: rgba(34, 34, 34, 0.7);
}
.main .content-footer .form .input input {
  width: 100%;
  height: 100%;
  display: flex;
  border: 1px solid rgba(34, 34, 34, 0.5);
  border-right: none;
  border-radius: 10px 0px 0px 10px;
  padding: 0 15px 0 48px;
  background: rgba(255, 255, 255, 0.5);
}
.main .content-footer .form .input input:hover {
  transition: 0.5s;
  border: 1px solid rgba(255, 165, 0, 0.5);
}
.main .content-footer .form .input input:focus {
  border: 1px solid rgba(255, 165, 0, 0.5);
}
.main .content-footer .form button {
  width: 100px;
  border: 1px solid rgba(34, 34, 34, 0.4);
  background: #FFA500;
  border-radius: 0px 10px 10px 0px;
  font-size: 16px;
  transition: 0.5s;
}
.main .content-footer .form button:hover {
  transition: 0.5s;
  background: #ffb733;
}

.footer {
  height: 80px;
  width: 100%;
  padding: 0 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: auto;
  z-index: 1;
}
.footer .copyright {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
  width: 100%;
  text-align: center;
  flex-grow: 1;
}
.footer .soc {
  display: flex;
  justify-content: center;
  height: 100%;
  width: auto;
  padding: 0 25px;
}
.footer .soc-item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 32px;
  width: 50px;
}
.footer .soc-item a {
  transition: 0.5s;
}
.footer .soc-item a i {
  color: rgba(34, 34, 34, 0.8);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
}
.footer .soc-item a:hover {
  transition: 0.5s;
  font-size: 36px;
}
.footer .soc-item a:hover i {
  color: #222222;
}

.slider::after {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  opacity: 0.2;
}
.slider .slide {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  color: transparent;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  opacity: 0;
  z-index: 0;
  animation: imageAnimation linear infinite 1s;
}
@keyframes imageAnimation {
  0% {
    opacity: 0;
    animation-timing-function: ease-in;
    transform: scale(1);
  }
  10% {
    opacity: 0.2;
    animation-timing-function: ease-out;
  }
  20% {
    opacity: 0.2;
    transform: scale(1.1);
  }
  30% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
